<footer class="footer-inst">
    <div class="container footer-grid">
        <!-- LOGO -->
        <div class="footer-col">
            <img src="images/logomonocromatico.png" height="70">
            <p class="footer-desc">
                Secretaría Ejecutiva del Sistema de Protección de 
                Niñas, Niños y Adolescentes del Estado de Quintana Roo.
            </p>
        </div>

            <!-- CONTACTO -->
        <div class="footer-col">
            <h4>Contacto</h4>
            <p>Av. Héroes de Chapultepec entre Juárez y Av. Héroes 134 <br>Chetumal, Quintana Roo</p>
            <p>Tel: 983 832 9470</p>
            <p>Email: <a href="mailto:sipinna.qroo.gob@outlook.com">sipinna.qroo.gob@outlook.com</a></p>
        </div>

            <!-- NAVEGACION -->
        <div class="footer-col">
            <h4>Enlaces</h4>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="acerca.html">Acerca</a></li>
                <li><a href="#">Indicadores</a></li>
                <li><a href="descargables.html">Descargas</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </div>

            <!-- REDES -->
        <div class="footer-col">
            <h4>Redes oficiales</h4>
            <div class="footer-social">
                <a href="https://www.facebook.com/SIPINNAQROO" target="_blank">Facebook</a>
                <a href="https://x.com/SIPINNAQROO" target="_blank">Twitter / X</a>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        © 2026 SESIPINNA Quintana Roo — Todos los derechos reservados
    </div>
</footer>