  <header>
    <div class="container header-inner">
      <!-- Logo izquierdo -->
      <a href="index.html" class="logo-left">
        <img src="images/logoqroo.png" alt="Logo Institucional Izquierdo" height="60">
      </a>

      <!-- Menú centrado -->
      <nav id="main-nav">
        <ul>
          <li><a href="index.html" class="nav-link">Inicio</a></li>
          <li><a href="acerca.html" class="nav-link">Acerca</a></li>
          <li><a href="#" class="nav-link">Indicadores</a></li>
          <li><a href="descargables.html" class="nav-link">Descargas</a></li>
          <li class="dropdown">
            <a href="#" class="nav-link">Consulta ▾</a>
            <ul class="submenu">
              <li><a href="https://www.cuentame.inegi.org.mx/monografias/informacion/qroo/poblacion/educacion.aspx?tema=me&e=23"target="_blank">Cuéntame de México</a></li>
              <li><a href="https://www.inegi.org.mx/app/tabulados/interactivos/?pxq=Natalidad_Natalidad_01_97690dcd-1099-4e34-ba7f-1180912653bb" target="_blank">Nacimientos INEGI</a></li>
              <li><a href="https://derechosinfancia.org.mx/v1/l-ninez-migrante/#flipbook-df_239051/1/" target="_blank">Migración REDIM</a></li>
              <li><a href="https://www.coneval.org.mx/Medicion/Documents/Pobreza_municipal/2020/gpos_pob/Presentacion_pobreza_grupos_municipal.pdf" target="_blank">Pobreza CONEVAL</a></li>
              <li><a href="https://www.cuentame.inegi.org.mx/juegos/#." target="_blank">Juegos interactivos</a></li>
              <li><a href="http://gaia.inegi.org.mx/mdm6/?s=MTM4NTQwNDU=" target="_blank">Mapa digital</a></li>
            </ul>
          </li>
          <li><a href="contacto.html" class="nav-link">Contacto</a></li>
        </ul>
      </nav>

      <!-- Logo derecho -->
      <a href="index.html" class="logo-right">
        <img src="images/logo.png" alt="Logo SESIPINNA" height="60">
      </a>
    </div>
  </header>